<div class="slide-entry">
    <div class="slide-content">
        <div class="slide-quote">{{ content.field_quote }}</div>
        <div class="slide-meta">
            <div class="slide-meta--name">{{ content.field_name }}</div>
            <div class="slide-meta--position">{{ content.field_attribution }}</div>
        </div>
    </div>
</div>
