/*
----------------------
Split Promo Panels or Checkerboards
----------------------
*/

.half-promo_panel {
  background:$gray__light;

  .half-promo_wrapper {
    display:block;
    width:100%;
    @media only screen and (min-width: 800px) {
      display:flex;
      &:nth-child(even) {

        .half-promo_img-container {
          order:2;
        }

        .half-promo_txt-container {
          order:1;
        }

        .half-promo_txt-wrapper {
          padding-right: 60px !important;
          padding-left: 14% !important;
          margin-left: auto;
          
        }

      }

      &:nth-child(odd) {
        .half-promo_txt-wrapper {
          padding-left: 60px !important;
        }

      }
    }

    @media only screen and (min-width: 1100px) {
      &:nth-child(even) {
        .half-promo_txt-wrapper {
          padding-right: 100px !important;
          //padding-left: 0 !important;
        }
      }

      &:nth-child(odd) {
        .half-promo_txt-wrapper {
          padding-left: 100px !important;
        }
      }
    }

    @media only screen and (min-width: 1400px) {
      &:nth-child(even) {
        .half-promo_txt-wrapper {
          //padding-right: 100px !important;
          padding-left: 0 !important;
          max-width: 570px;
        }
      }

      &:nth-child(odd) {
        .half-promo_txt-wrapper {
          //padding-left: 100px !important;
          max-width: 570px;
        }
      }
    }

  }

  .half-promo_img-container {
    display:block;
    width:100%;
    position:relative;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    @media only screen and (min-width: 800px) {
      flex: 0 0 50%;
      max-width:50%;
      min-height: 60vh;
      img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .half-promo_txt-container {
    display:block;
    width:100%;
    padding:30px 0 50px;
    @media only screen and (min-width: 800px) {
      flex: 0 0 50%;
      max-width:50%;
      padding:100px 0;
      align-self: center;
    }
  }

  .half-promo_txt-wrapper {
    padding-left:7%;
    padding-right:7%;
    @media only screen and (min-width: 800px) {
      padding-right:14%;
      //max-width:570px;
    }
    @media only screen and (min-width: 1100px) {
      padding-right:0;
    }
  }

  .half-promo_eyebrow {
    font-family:$font-family__primary;
    text-transform: uppercase;
    font-size: 10px;
    font-weight:600;
    color:$steel-blue;
    letter-spacing: 6px;
    margin: 0 0 30px;
  }

  h2 {
    margin-bottom:10px;
    color:$dark;
    font-family:$font-family__primary;
    font-size:20px;
    font-weight:600;
    @media only screen and (min-width: 800px) {
      font-size:24px;
    }
    @media only screen and (min-width: 1100px) {
      font-size:30px;
    }
  }

  .half-promo_description {
    line-height: 1.5;
    font-size:16px;
    font-weight:500;
    font-family:$font-family__primary;
    p {
      &:last-of-type {
        margin-bottom:0;
      }
    }
  }

  .btn {
    margin-top:30px !important;
  }
  
}

.wysiwyg {

  .half-promo_panel {
    margin-bottom:30px;
  }

  .half-promo_panel .half-promo_img-container {
    @media only screen and (min-width: 800px) {
      min-height: 50vh;
    }
  }

  .half-promo_panel .half-promo_txt-wrapper {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (min-width: 800px) {
      padding-right: 0;
      padding-left: 7%;
    }
    @media only screen and (min-width: 1100px) {
      padding-right: 0;
      padding-left: 7%;
    }
  }

}