<section class="simple-promo_panel">
    <div class="globalWidth">
        <div class="simple-promo_wrapper">

            <!--Image Container-->
            <div class="simple-promo_img-container">
                {{ content.field_image }}
            </div>
            <!--END Image Container-->

            <!--Content Container-->
            <div class="simple-promo_txt-container">
                <div class="simple-promo_txt-wrapper">
                    <h2>{{ content.field_name }}</h2>
                    <div class="simple-promo_description">
                        <p>{{ content.field_text }}</p>
                    </div>
                    {{ content.field_link }}
                </div>
            </div>
            <!--END Content Container-->

        </div>
    </div>
</section>