
<!--Testimonials -- Multiple Slider-->
<section class="testimonials-multiple-slider-panel white-panel">
    <div class="globalWidth">

        <div>
            <h2>Kind Words...</h2>
        </div>

        <div class="slide-wrap">
            <div class="slideshow">

                {{ content }}

            </div>
            <ul class="slide-nav">
                <li id="prev-slide"><i class="fal fa-long-arrow-left"></i></li>
                <li id="next-slide"><i class="fal fa-long-arrow-right"></i></li>
            </ul>
        </div>

    </div>
</section>
<!--END Testimonials -- Multiple Slider-->
