
<!--Search Panel-->
<div id="searchFormModulePanel" class="searchFormPanelContainer">
    <div class="searchFormPanelInnerContainer">
        <div class="searchFormPanelWrapper">
            <div class="searchFormPanelInnerWrapper">
                <div class="searchFormPanelTxtContainer">
                    <div class="searchFormPanelTitle">Looking for something?</div>
                    <div class="searchFormPanelTeaser">Search here to find what you ....... </div>
                </div>
                <div class="searchFormPanelFormContainer">
                    <form action=" " method="post" id="search" accept-charset="UTF-8">
                        <div>
                            <div class="searchFormPanelSearchField">
                                <input title="Enter the terms you wish to search for." placeholder="search term" type="text" id="" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
                            </div>
                            <input type="hidden" name="" value="" />
                            <input type="hidden" name="form_id" value="search_block_form" />
                            <div class="searchFormPanelButtonWrappers">
                                <input class="searchSubmit form-submit" type="submit" id="edit-submit" name="op" value="Search" />
                                <a href="#search_link" class="searchPanel_close" title="Close form">
                                    <span class="sr-only">Close form</span>
                                    <i class="fas fa-window-close"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="errorContainer"></div>
            </div>
        </div>
    </div>
</div>
<!--END Search Panel-->


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->